name: ETL Core Unit Tests

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/attawatthan/airflow:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      # Require: This must be here for actions/checkout to work
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup and Run Tests
        run: |
          # Rename directory to match module name
          CURRENT_DIR=$(pwd)
          PARENT_DIR=$(dirname "$CURRENT_DIR")
          
          cd "$PARENT_DIR"
          mv ETL-Core etl_core
          
          # Change ownership and install dependencies
          chown -R airflow:root etl_core
          cd etl_core
          
          echo "Current directory: $(pwd)"
          ls -la
          
          # Install dependencies and run tests as airflow user
          su airflow << 'EOF'
            export PATH=$PATH:/home/airflow/.local/bin
            
            echo "Installing test dependencies..."
            pip install pytest pytest-cov
            
            echo "current path: $(pwd)"
            
            # Set PYTHONPATH to parent directory so etl_core module can be imported
            export PYTHONPATH=$PYTHONPATH:$(dirname $(pwd))
            echo "PYTHONPATH: $PYTHONPATH"

            echo "Running unit tests..."
            pytest tests/ -v
          EOF
