name: ETL Core Unit Tests

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:
    branches:
      - main

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/attawatthan/airflow:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      # Require: This must be here for actions/checkout to work
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Rename directory to match module name
      - name: Rename directory to etl_core
        run: |
          cd ..
          mv ETL-Core etl_core
          cd etl_core

      # Fix Permission issues
      - name: Transfer ownership to airflow user
        run: chown -R airflow:root .

      - name: Install Dependencies
        run: |
          su airflow << 'EOF'
            export PATH=$PATH:/home/airflow/.local/bin

            echo "Installing test dependencies..."
            pip install pytest pytest-cov
          EOF

      - name: Run Unit Tests
        run: |
          su airflow << 'EOF'
            echo "current path: $(pwd)"
            echo "Listing files:"
            ls -la
            # Set PATH for airflow user
            export PATH=$PATH:/home/airflow/.local/bin
            
            # Set PYTHONPATH to parent directory so etl_core module can be imported
            export PYTHONPATH=$PYTHONPATH:$(dirname $(pwd))
            echo "PYTHONPATH: $PYTHONPATH"

            echo "Running unit tests..."
            pytest tests/ -v
          EOF
